body {
  font-family: "Raleway", sans-serif;
  background-color: #f1faee;
}
.logo {
  font-family: "Caramel", cursive;
  color: #e63946;
  font-weight: 600;
}
.carousel-indicators {
  display: none;
}
.slider-info {
  background-color: rgba(0, 0, 0, 0.4);
}
